/*******************************/
/*        AUTHORIZATION        */
/*******************************/
.auth__container {
    height: auto;
    padding-bottom: 40px;
    padding-top: 20px;
  }
  
  .auth__input {
    background: linear-gradient(to right, #9fdad2, #e4d5d5);
  }
  
  .auth__button {
    background: linear-gradient(to right, #9fdad2, #e4d5d5);
  }
  
  .auth__button:hover {
    background: linear-gradient(to right, #5dd5c5, #c0adad);
    cursor: pointer;
  }