/*******************************/
/*        SEARCH GROUPS        */
/*******************************/
.searchGroups__container {
  height: auto;
  padding-bottom: 40px;
}

.searchGroups__input {
  background: linear-gradient(to right, #e1e9c0, #fcdafd);
}

.searchGroups__button {
  background: linear-gradient(to right, #e1e9c0, #fcdafd);
}

.searchGroups__button:hover {
  background: linear-gradient(to right, #d7e69c, #fbb8fd);
  cursor: pointer;
}

/*******************************/
/*         SHOW GROUPS         */
/*******************************/
.showGroups__container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  height: auto;
  margin-bottom: 20px;
}

.showGroups__element {
  font-size: 20px;
  background: linear-gradient(to right, #e1e9c0, #fcdafd);
  background-size: 100%;
  padding: 10px;
  border-radius: 15px;
  border-width: 2px;
  min-width: 500px;
  width: 500px;
  height: auto;
  display: inline-block;
  margin: 30px;
  padding-bottom: 20px;
}

.showGroups__element h1 {
  margin: 20px;
  text-align: center;
}

.showGroups__element h2 {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

.showGroups__element h3 {
  margin: 20px;
  font-style: italic;
  font-weight: 500;
}

.showGroups__elementMembers {
  display: inline-block;
}

.showGroups__elementHeader {
  display: flex;
  text-align: center;
  justify-content: center;
}

#chattingIcon {
  margin-top: 15px;
  width: 80px;
  height: auto;
}

.showGroups__elementMembers h2 {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

.showGroups__elementLink {
  text-decoration: none !important;
  display: block;
}

/*******************************/
/*         SUWAK GROUPS        */
/*******************************/
.showGroups__container::-webkit-scrollbar {
  width: 1em;
}

.showGroups__container::-webkit-scrollbar-track {
  background: #e2e2e2;
  border-radius: 12px;
}

.showGroups__container::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(to right, #d0e774, #f989fd);
  background: linear-gradient(to right, #d0e774, #f989fd);
  border-radius: 12px;
}

.showGroups__container::-webkit-scrollbar-thumb:hover {
  background: -webkit-linear-gradient(to right, #c8e943, #f949ff);
  background: linear-gradient(to right, #c8e943, #f949ff);
  border-radius: 12px;
}

/*******************************/
/*           ANIMACJA          */
/*******************************/
@keyframes myAnimation {
  0% {
    opacity: 1;
    transform: translate(1em, 0);
  }
  10% {
    opacity: 0.9;
    transform: translate(2em, 0);
  }
  20% {
    opacity: 0.8;
    transform: translate(3em, 0);
  }
  30% {
    opacity: 0.7;
    transform: translate(4em, 0);
  }
  40% {
    opacity: 0.6;
    transform: translate(5em, 0);
  }
  50% {
    opacity: 0.5;
    transform: translate(6em, 0);
  }
  60% {
    opacity: 0.4;
    transform: translate(7em, 0);
  }
  70% {
    opacity: 0.3;
    transform: translate(8em, 0);
  }
  80% {
    opacity: 0.2;
    transform: translate(9em, 0);
  }
  90% {
    opacity: 0.1;
    transform: translate(10em, 0);
  }
  100% {
    opacity: 0;
    transform: translate(11em, 0);
    display: none;
  }
}

#elementToAnimate {
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation-name: myAnimation;
  animation-duration: 4000ms;
  animation-fill-mode: forwards;
}
