/*******************************/
/*       SEARCH STUDENTS       */
/*******************************/
.searchStudents__container {
  height: auto;
  padding-bottom: 40px;
}

.searchStudents__input {
  background: linear-gradient(to right, #c5e7c5, #dfe6fc);
}

.searchStudents__button {
  background: linear-gradient(to right, #c5e7c5, #dfe6fc);
}

.searchStudents__button:hover {
  background: linear-gradient(to right, #abe4ab, #b6c6fc);
  cursor: pointer;
}

/*******************************/
/*        SHOW STUDENTS        */
/*******************************/
.showStudents__container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  height: auto;
  margin-bottom: 20px;
}

.showStudents__element {
  font-size: 20px;
  background: linear-gradient(to right, #c5e7c5, #dfe6fc);
  background-size: 100%;
  padding: 10px;
  border-radius: 15px;
  border-width: 2px;
  min-width: 400px;
  width: 400px;
  height: auto;
  display: inline-block;
  margin: 30px;

  position: relative;
  padding-bottom: 50px;
}

.showStudents__elementHeader {
  display: block;
}

.showStudents__image {
  margin-top: 15px;
  margin-bottom: 5px;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 0.5em rgb(109, 200, 118);
}

.showStudents__element h1 {
  margin: 10px;
  text-align: center;
}

.showStudents__element h3 {
  margin: 10px;
  font-style: italic;
  font-weight: 500;
}

.showStudents__elementSubject {
  display: inline-block;
}

.showStudents__elementSubject h2 {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

.showStudents__elementTags {
  display: inline-block;
}

.showStudents__elementTags h4 {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 40px;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  padding: 0px 10px 0px 10px;
  height: 30px;
  text-align: center;
  justify-content: center;
  background: linear-gradient(to right, #abe4ab, #b6c6fc);
}

.showStudents__elementTags h4:hover {
  background: linear-gradient(to right, #82e082, #8ba4f5);
}

.addToCart__button {
  background: linear-gradient(to right, #d68787, #c879c1);
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;

  position: absolute;
  bottom: 15px;
  left: 33%;
}

.addToCart__button:hover {
  background: linear-gradient(to right, #ce4646, #cb3bbf);
  cursor: pointer;
}

/*******************************/
/*        SUWAK STUDENTS       */
/*******************************/
.showStudents__container::-webkit-scrollbar {
  width: 1em;
}

.showStudents__container::-webkit-scrollbar-track {
  background: #e2e2e2;
  border-radius: 12px;
}

.showStudents__container::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(to right, #90e990, #a4b9ff);
  background: linear-gradient(to right, #90e990, #a4b9ff);
  border-radius: 12px;
}

.showStudents__container::-webkit-scrollbar-thumb:hover {
  background: -webkit-linear-gradient(to right, #59e659, #688bff);
  background: linear-gradient(to right, #59e659, #688bff);
  border-radius: 12px;
}
