* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*******************************/
/*        GŁÓWNE KLASY         */
/*******************************/
.input {
  margin-top: 50px;
  font-weight: 600;
  font-size: 20px;
  padding: 10px 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 25px;
}

.inputOne {  /* search */
  width: 300px;
  height: 30px;
  margin-left: 40px;
}

.inputTwo {  /* announcement */
  width: 400px;
  height: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button {
  margin-top: 50px;
  font-weight: 600;
  padding: 10px 20px;
  width: 140px;
  height: auto;
  font-size: 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 25px;
}

.buttonOne {  /* search */
  margin-left: 40px;
}

.buttonTwo {  /* announcement, send */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*******************************/
/*       PASEK NAWIGACJI       */
/*******************************/
.navBar {
  background: #3b3b3b;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navBar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

.navBar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navBar__item {
  height: 80px;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 50px;
  margin-right: 50px;
  width: fit-content;
}

.navBar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navBar__links:hover {
  color: #2eac2e;
}

/*******************************/
/*       SEARCH STUDENTS       */
/*******************************/
.searchStudents__container {
  height: auto;
  padding-bottom: 30px;
}

.searchStudents__input {
  background: linear-gradient(to right, #c5e7c5, #dfe6fc);
}

.searchStudents__button {
  background: linear-gradient(to right, #c5e7c5, #dfe6fc);
}

.searchStudents__button:hover {
  background: linear-gradient(to right, #abe4ab, #b6c6fc);
  cursor: pointer;
}

/*******************************/
/*        SHOW STUDENTS        */
/*******************************/
.showStudents__container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 650px;
}

.showStudents__element {
  font-size: 20px;
  background: linear-gradient(to right, #c5e7c5, #dfe6fc);
  background-size: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
  border-width: 2px;
  min-width: 400px;
  width: 400px;
  height: 500px;
  display: inline-block;
  margin: 30px;
}

.showStudents__element h1 {
  margin: 20px;
  text-align: center;
}

.showStudents__element h3 {
  margin: 20px;
  font-style: italic;
  font-weight: 500;
}

.showStudents__elementSubject {
  display: inline-block;
}

.showStudents__elementSubject h2 {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

.showStudents__elementTags {
  display: inline-block;
}

.showStudents__elementTags h4 {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  padding: 0px 10px 0px 10px;
  height: 30px;
  text-align: center;
  justify-content: center;
  background: linear-gradient(to right, #abe4ab, #b6c6fc);
}

.showStudents__elementTags h4:hover {
  background: linear-gradient(to right, #82e082, #8ba4f5);
}

/*******************************/
/*     STUDENT ANNOUNCEMENT    */
/*******************************/
.studentAnnouncement__container {
  height: auto;
  padding-bottom: 40px;
  padding-top: 20px;
}

.studentAnnouncement__input {
  background: linear-gradient(to right, #c5e7c5, #dfe6fc);
}

.studentAnnouncement__button {
  background: linear-gradient(to right, #c5e7c5, #dfe6fc);
}

.studentAnnouncement__button:hover {
  background: linear-gradient(to right, #abe4ab, #b6c6fc);
  cursor: pointer;
}

/*******************************/
/*        DELETE STUDENT       */
/*******************************/
.deleteStudent__button {
  background: linear-gradient(to right, #e64b4b, #ff0000);
}

.deleteStudent__button:hover {
  background: linear-gradient(to right, #7e2727, #6b0c0c);
  cursor: pointer;
}

/*******************************/
/*        SEARCH GROUPS        */
/*******************************/
.searchGroups__container {
  height: auto;
  padding-bottom: 30px;
}

.searchGroups__input {
  background: linear-gradient(to right, #e1e9c0, #fcdafd);
}

.searchGroups__button {
  background: linear-gradient(to right, #e1e9c0, #fcdafd);
}

.searchGroups__button:hover {
  background: linear-gradient(to right, #d7e69c, #fbb8fd);
  cursor: pointer;
}

/*******************************/
/*         SHOW GROUPS         */
/*******************************/
.showGroups__container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 650px;
}

.showGroups__element {
  font-size: 20px;
  background: linear-gradient(to right, #e1e9c0, #fcdafd);
  background-size: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
  border-width: 2px;
  min-width: 500px;
  width: 500px;
  height: 500px;
  display: inline-block;
  margin: 30px;
}

.showGroups__element h1 {
  margin: 20px;
  text-align: center;
}

.showGroups__element h2 {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

.showGroups__element h3 {
  margin: 20px;
  font-style: italic;
  font-weight: 500;
}

.showGroups__elementMembers {
  display: inline-block;
}

.showGroups__elementHeader {
  display: flex;
}

#chattingIcon {
  margin: 20px;
  width: 60px;
  height: auto;
}

.showGroups__elementMembers h2 {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

.showGroups__elementLink{
  text-decoration: none !important;
  display: block;
}

/*******************************/
/*      GROUP ANNOUNCEMENT     */
/*******************************/
.groupAnnouncement__container {
  height: auto;
  padding-bottom: 40px;
  padding-top: 20px;
}

.groupAnnouncement__input {
  background: linear-gradient(to right, #e1e9c0, #fcdafd);
}

.groupAnnouncement__button {
  background: linear-gradient(to right, #e1e9c0, #fcdafd);
}

.groupAnnouncement__button:hover {
  background: linear-gradient(to right, #d7e69c, #fbb8fd);
  cursor: pointer;
}

/*******************************/
/*        SEND MESSAGE         */
/*******************************/
.sendMessage__container {
  height: auto;
  padding-bottom: 40px;
  padding-top: 20px;
}

.sendMessage__input {
  background: linear-gradient(to right, #c5dbe7, #fcdfdf);
  width: 600px;
  height: 300px;
  max-width: 1200px;
  max-height: 600px;
  min-width: 200px;
  min-height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sendMessage__button {
  background: linear-gradient(to right, #c5dbe7, #fcdfdf);
}

.sendMessage__button:hover {
  background: linear-gradient(to right, #7ec6ec, #ff9e9e);
  cursor: pointer;
}

/*******************************/
/*        SUWAK STUDENTS       */
/*******************************/
.showStudents__container::-webkit-scrollbar {
  width: 1em;
}

.showStudents__container::-webkit-scrollbar-track {
  background: #e2e2e2;
  border-radius: 12px;
}

.showStudents__container::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(to right, #90e990, #a4b9ff);
  background: linear-gradient(to right, #90e990, #a4b9ff);
  border-radius: 12px;
}

.showStudents__container::-webkit-scrollbar-thumb:hover {
  background: -webkit-linear-gradient(to right, #59e659, #688bff);
  background: linear-gradient(to right, #59e659, #688bff);
  border-radius: 12px;
}

/*******************************/
/*         SUWAK GROUPS        */
/*******************************/
.showGroups__container::-webkit-scrollbar {
  width: 1em;
}

.showGroups__container::-webkit-scrollbar-track {
  background: #e2e2e2;
  border-radius: 12px;
}

.showGroups__container::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(to right, #d0e774, #f989fd);
  background: linear-gradient(to right, #d0e774, #f989fd);
  border-radius: 12px;
}

.showGroups__container::-webkit-scrollbar-thumb:hover {
  background: -webkit-linear-gradient(to right, #c8e943, #f949ff);
  background: linear-gradient(to right, #c8e943, #f949ff);
  border-radius: 12px;
}

/*******************************/
/*           ANIMACJA          */
/*******************************/
@keyframes myAnimation{
  0%{
    opacity: 1;
    transform: translate(1em, 0);
  }
  10%{
    opacity: 0.9;
    transform: translate(2em, 0);
  }
  20%{
    opacity: 0.8;
    transform: translate(3em, 0);
  }
  30%{
    opacity: 0.7;
    transform: translate(4em, 0);
  }
  40%{
    opacity: 0.6;
    transform: translate(5em, 0);
  }
  50%{
    opacity: 0.5;
    transform: translate(6em, 0);
  }
  60%{
    opacity: 0.4;
    transform: translate(7em, 0);
  }
  70%{
    opacity: 0.3;
    transform: translate(8em, 0);
  }
  80%{
    opacity: 0.2;
    transform: translate(9em, 0);
  }
  90%{
    opacity: 0.1;
    transform: translate(10em, 0);
  }
  100%{
    opacity: 0;
    transform: translate(11em, 0);
    display: none;
  }
}

#elementToAnimate {
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation-name: myAnimation;
  animation-duration: 4000ms;
  animation-fill-mode: forwards;
}